- form_for @changeset, @action, fn f ->
  - if f.errors != [] do
    %div{class: "alert alert-danger"}
      %p Oops, something went wrong! Please check the errors below:
      %ul
        - for {attr, message} <- f.errors do
          %li= humanize(attr)
            = translate_error(message)
  .form-group
    = label f, :name, "Name"
    = text_input f, :name, class: "form-control"
  .form-group
    %label Email
    = text_input f, :email, class: "form-control"
  .form-group
    = label f, :password, "Password"
    = text_input f, :password, class: "form-control"
  .form-group
    = submit "Submit", class: "btn btn-primary"
