%script
  function sample(users) {
    window.alert(users)
  }

- form_for @conn, user_path(@conn, :search_email), [as: :search], fn f ->
  = text_input f, :query
  = submit "Search"

%h2 searched users
%table{class: "table"}
  %thead
    %tr
      %th Name
      %th Email
      %th Password
      %th Permission
      %th Is deleted
  %tbody
  - for user <- @assigns do
    %tr
      %td
        %a{onclick: "sample('<%= user.name %>')"}= user.name
      %td= user.email
      %td= user.password
      %td= user.permission
      %td= user.is_deleted
      %td{class: "text-right"}
        = link "Show", to: user_path(@conn, :show, user), class: "btn btn-default btn-xs"
        = link "Edit", to: user_path(@conn, :edit, user), class: "btn btn-default btn-xs"
        = button "Delete", to: user_path(@conn, :delete, user), method: :delete, class: "btn btn-danger btn-xs"

- if Guardian.Plug.current_resource(@conn) do
  = link "New user", to: user_path(@conn, :new)
